<h1 style="margin-top: 20px;text-align: center;">Saved Classifications</h1>
<h3 style="margin-top: 20px;text-align: center;">Hello {{email}}, these are your saved calssifications</h3>
<div class="accordion">
<p *ngIf = "(authservice.user | async)?.uid">
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let savedClass of savedClass$| async">
          <mat-expansion-panel-header style="font-size: 20px;">
              <mat-panel-title >
             <span style="font-weight: bold;" > Category Classified by our algorithm: </span> &nbsp;  {{savedClass.aiCat}}
              </mat-panel-title>
              <mat-panel-title>
              <span style="font-weight: bold;">  Category Changed by user: </span> &nbsp;   {{savedClass.manCat}}
             </mat-panel-title> 
          </mat-expansion-panel-header>
              <h3>Description to be classified:</h3>
              <span style="font-size: 20px;"> {{savedClass.body}} </span>
        </mat-expansion-panel>
      </mat-accordion>

</p>
</div>