  <mat-card class="example-card">
    <div *ngFor = "let cat of category">
      <mat-card-header >
  <!--
        <div mat-card-avatar *ngIf = "categoryImage">
          <img [src] = "categoryImage">
        </div>
  -->
        <mat-card-subtitle>classification result</mat-card-subtitle>

        <mat-card-title>Your movie genre is: <a style="font-size: 30px;">{{cat.label}}</a></mat-card-title>
        
        <mat-card-title>Precision level: {{cat.prob}}%</mat-card-title>
        <br><br>
        <mat-card-title>The second classificated genre is: <a style="font-size: 30px;">{{secondCategorylabel}}</a></mat-card-title>
        
        <mat-card-title>Second Precision level: {{secondCategoryprob}}%</mat-card-title>

      </mat-card-header>
      <br><br><br><br>
      <mat-card-content>
        <p>Description inserted</p>
        <p style="font-size: 20px;"> 
          {{classifyservice.doc}}
        </p>
      </mat-card-content>

      <h5>Change Category</h5>
        
              <br>
           <!-- <mat-select [(ngModel)]= "manCat" name="manCat" [(value)]="selected">
                <mat-option *ngFor="let categorytype of categorytypes" [value]="categorytype.name">
                    {{categorytype.name}}
                </mat-option>
            </mat-select> -->

              <mat-select [(ngModel)]= "manCat" name="manCat">
                <mat-option *ngFor="let categorytype of categorytypes" [value]="categorytype.name">
                  {{categorytype.name}}
                </mat-option>
                
              </mat-select>
              <br>

      <mat-card-actions>
        <button mat-button color="primary" (click)="onClick(cat.label, cat.prob)">Save Classification</button>
      </mat-card-actions>
    </div>
  </mat-card>
