/*

#recommendations {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recommendations td, #recommendations th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recommendations tr:nth-child(even){background-color: #f2f2f2;}

#recommendations tr:hover {background-color: #ddd;}

#recommendations th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}*/
.mat-elevation-z8{
  margin: auto;
  width: 80%;
  border: 3px solid rgb(86, 63, 150);
  padding: 10px;
}

.title{
  margin: auto;
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;

}
.button5{
float: right;
font-size: 20px;

}


table {
  width: 100%;
}



  .data{
    font-size: 20px;
  }

  .dataRec{
    font-size: 15px;
  }