<h1 class="title">My Recommendations </h1>

<!--

<div style="width:80%">
  <table id="recommendations">
    <tr>
      <th>Movie Name</th>
      <th>Movie Genre</th>
      <th>Recommendation</th>
      <th>IMDB Link</th>
      <th>Actions</th>
    </tr>

    <div *ngFor="let rec of recs$ | async">
      <div *ngIf="userId==rec.userId">
          <td>{{rec.name}}</td>
          <td>{{rec.genreInput}}</td>
          <td>{{rec.text}}</td>
          <td>{{rec.link}}</td>
          <td>
            <button mat-raised-button color="primary" [routerLink]="'/recform/' + rec.id">Edit</button> 
            <button mat-raised-button color="warn" (click)="deleteRecommand(rec.id)">Delete</button>
          </td>
        </div> 
      </div>

  </table>
</div>

-->
<div>


<div class="mat-elevation-z8">

  <mat-form-field>
    <mat-label class="data">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Try Spiderman" class="data" >
  </mat-form-field>

  <button mat-raised-button color="primary" [routerLink]="'/recform'" class="button5" *ngIf = "(authservice.user | async)?.uid">Add Recommendation</button>

<table mat-table [dataSource]="datasource" >    

  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef style="font-size: 25px;font-weight: bold;"> No. </th>
    <td mat-cell *matCellDef="let element" class="data">{{datasource.filteredData.indexOf(element)+1}} </td>
  </ng-container>  

  <ng-container matColumnDef="Movie Name" >
    <th mat-header-cell *matHeaderCellDef class="cont" style="font-size: 25px;font-weight: bold;"> Movie Name </th>
    <td mat-cell *matCellDef="let rec" > 
      
      <div *ngIf = "userId==rec.userId" class="data"> {{rec.name}} </div>
    
    </td>
  </ng-container>

&nbsp;&nbsp;&nbsp;

  <ng-container matColumnDef="Movie Genre" >
    <th mat-header-cell *matHeaderCellDef class="cont" style="font-size: 25px;font-weight: bold;"> Movie Genre </th>
    <td mat-cell *matCellDef="let rec" >

      <div *ngIf = "userId==rec.userId" class="data"> {{rec.genreInput}}</div>

     </td>
  </ng-container>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <ng-container matColumnDef="Recommendation"  >
    <th mat-header-cell *matHeaderCellDef class="cont" style="font-size: 25px;font-weight: bold;"> Recommendation </th>
    <td mat-cell *matCellDef="let rec"  >

      <div *ngIf = "userId==rec.userId"> <p class="dataRec" style="width: 150px; word-wrap: break-word;">{{rec.text}}</p>  </div>

    </td>
  </ng-container>

  &nbsp;&nbsp;&nbsp;

  <ng-container matColumnDef="IMDB Link" >
    <th mat-header-cell *matHeaderCellDef class="cont" style="font-size: 25px;font-weight: bold;"> IMDB Link </th>
    <td mat-cell *matCellDef="let rec" > 
      
      <div *ngIf = "userId==rec.userId" class="data">{{rec.link}} </div>

         </td>
  </ng-container>

  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="cont" style="font-size: 25px; font-weight: bold;" >Actions</th>
      <td mat-cell *matCellDef="let rec" class="buttons" style="width:180px" >

        <div *ngIf = "userId==rec.userId"  >
          <button mat-raised-button color="primary" [routerLink]="'/recform/' + rec.id" class="data">Edit</button>   &nbsp; &nbsp;
          <button mat-raised-button color="warn" (click)="deleteRecommand(rec.id)" class="data">Delete</button> 
        </div>

      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row ; columns: displayedColumns;" class="rows" ></tr>      
 
 
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" style="font-size: 25px;"></mat-paginator>


  </div>
</div>
