<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="border-style:solid; border-right: solid; background-color:rgb(203, 163, 241);width: 350px;text-align: center;"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a style="font-size: 20px; text-align: center;font-weight: bold;
      " mat-list-item href="/moviesapi" routerLinkActive="active">Home</a> <br><br>
      
      <a style="font-size: 20px; text-align: center;font-weight: bold;" mat-list-item href="/welcome" routerLinkActive="active" *ngIf = "(authservice.user | async)?.uid">Users Recommendations</a>
      <a style="font-size: 20px; text-align: center;font-weight: bold;" mat-list-item href="/search" routerLinkActive="active" *ngIf = "(authservice.user | async)?.uid">Category Classifier</a>
      <a style="font-size: 20px; text-align: center;font-weight: bold;" mat-list-item href="/saved" routerLinkActive="active" *ngIf = "(authservice.user | async)?.uid">Saved Classifictions</a>
      <a style="font-size: 20px; text-align: center;font-weight: bold;" mat-list-item href="/myrec" routerLinkActive="active" *ngIf = "(authservice.user | async)?.uid">My Recommendations</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      
      <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        </head>
        <body>
        <i class="fa fa-video-camera fa-3x">  &nbsp; ClassiFilm</i> </body>
        <!--use the fa-lg (33% increase), fa-2x, fa-3x, fa-4x, or fa-5x classes-->
        
        <span class = "spacer"></span>
         <a class="whitelink" [routerLink]="['/signup']" *ngIf = "!(authservice.user | async)?.uid">Sign Up</a>
         <a class="whitelink" [routerLink]="['/login']" *ngIf = "!(authservice.user | async)?.uid">Login</a>
         <a class ="whitelink" *ngIf = "(authservice.user | async)?.uid" (click) = "authservice.logout()">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
