.mat-elevation-z8{
    margin: auto;
    width: 80%;
    border: 3px solid rgb(86, 63, 150);
    padding: 10px;
}

.title{
    margin: auto;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  .title2{
    margin: auto;
    width: fit-content;
    padding-top: 3px;
  }
  .title3{
    margin: auto;
    width: fit-content;
    padding-bottom: 50px;

  }
  th.mat-sort-header {
    color: black;
  }
.button5{
    float: right;
    font-size: 20px;
    }
.btn{
  width: 80px;
}

.data{
    font-size: 20px;
  }

table {
    width: 100%;
  }
  



  .like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  .like-button.animated {
    -webkit-animation: pop 0.9s both;
    animation: pop 0.9s both;
  }
  .like-button svg {
    opacity: 6;
  }
  .like-button svg path {
    fill: white;
    transition: fill .4s ease-out;
    height: 700px;
    width: 700px;
  }
  .like-button.active svg path {   
    fill: #2196f3;
   }