<h1 class="title">Welcome to ClassiFilm!</h1>
<h3 class="title2">With us you can classify movies generes by description and add your recommendations!</h3>

<div *ngIf = "!(authservice.user | async)?.uid">
<h3 class="title3">Want to share your recommendation?
  <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
</h3>

</div>
<!--
<ng-template #alreadyIn>
  <h3 class="title3" style="font-size: 50px; padding-top: 30px;  font-family:fantasy; color: cornflowerblue;">Welcome Back {{email}} !</h3>
</ng-template> 

-->

  <h1 class="title" >Our Users Recommendations </h1>

<div class="mat-elevation-z8">
  <mat-form-field >
    <mat-label class="data">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Try Spiderman" class="data">
  </mat-form-field>
  
  <button mat-raised-button color="primary" [routerLink]="'/recform'" class="button5" *ngIf = "(authservice.user | async)?.uid">Add Recommendation</button>
  
  
  
  
  
  <table mat-table [dataSource]="datasource" matSort>
              
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->

    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> No. </th>
      <td mat-cell *matCellDef="let element" class="data" mat-sort-header>{{datasource.filteredData.indexOf(element)+1}} </td>
    </ng-container>

    <ng-container matColumnDef="Movie Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> Movie Name </th>
      <td mat-cell *matCellDef="let rec" class="data"> {{rec.name}} </td>
    </ng-container>

  &nbsp;&nbsp;&nbsp;

    <!-- Name Column -->
    <ng-container matColumnDef="Movie Genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> Movie Genre </th>
      <td mat-cell *matCellDef="let rec" class="data"> {{rec.genreInput}} </td>
    </ng-container>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- Weight Column -->
    <ng-container matColumnDef="Recommendation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> Recommendation </th>
      <td mat-cell *matCellDef="let rec" ><p style="width: 150px; word-wrap: break-word;"> {{rec.text}} </p></td>
    </ng-container>

    &nbsp;&nbsp;&nbsp;

    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> Recommended By </th>
      <td mat-cell *matCellDef="let rec" class="data">{{rec.userName}} </td>
    </ng-container>

    &nbsp;&nbsp;&nbsp;

    <!-- Symbol Column -->
    <ng-container matColumnDef="IMDB Link">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 25px;font-weight: bold;"> IMDB Link </th>
      <td mat-cell *matCellDef="let rec" class="data"> {{rec.link}} </td>
    </ng-container>

    <ng-container matColumnDef="Likes" >
      <th mat-header-cell *matHeaderCellDef style="font-size: 25px;font-weight: bold;"  >Likes</th>
      <td mat-cell *matCellDef="let rec">
        <div *ngIf = "(authservice.user | async)?.uid ; else other">


        <button mat-raised-button color="primary" class="btn" (click) = "addLikes(rec.id, rec.likes)"> 
          <a class="like-button">
          <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">Like<path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg>
          &nbsp;&nbsp;&nbsp;&nbsp; <span *ngIf="rec.likes != 0"> {{rec.likes}} </span>  </a> </button>
        
        </div>

      

      <ng-template #other class="data" >{{rec.likes}}</ng-template> 
      </td>
    
    </ng-container>




    
    <tr mat-header-row *matHeaderRowDef="displayedColumns">

    </tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;">

    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" class = "data"></mat-paginator>

</div>
