<form #signupForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Please fill out your email address</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="e.g. bab@gmail.com" formControlName="firstCtrl" [(ngModel)] = "email"
          name = "email" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Please choose your password</ng-template>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="secondCtrl" [(ngModel)] = "password"
          name = "password"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are about to create an account.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <br>
        <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                      Sign Up
            </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>

