/*.img{
    float:left;  
    width:180px; 
    height:200px; 
    margin-right: 30px;
}
.overview{
    padding-left: 80px;
    float: inline-start;  
    width: 60%; 
    height:250px; 
    font-size: 17px;
    margin-right: none;
  }
  .count{
    float: inline-start; 
    background:blue; 
    ; 
  }
*/
.title{
    margin: auto;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  .title2{
    margin: auto;
    width: fit-content;
    padding-top: 3px;
  }
  .title3{
    margin: auto;
    width: fit-content;
    padding-bottom: 20px;
  }
.img { 
    float:left;  
    width:180px; 
    height:200px; 
    margin-right: 30px;
} 
.overview{ 
    float:left;  
    width:50%; 
    height:280px; 
    font-size: 20px;
} 
.count{ 
    float:right; 
    width:25%; 
    height:280px; 
    font-size: 20px;

}
 
.accordion{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    
}
.movietitle{
    font-size: 25px;
}
.expansion{
    background-color: rgb(231, 229, 229);
}
