<h1 class="title" >Welcome to ClassiFilm!</h1>
<h3 class="title2">With us you can classify movies generes by description and add your recommendations!</h3>
<h3 class="title2">You can also review our recent movie ratings!</h3> <br><br>

<div *ngIf = "!(authservice.user | async)?.uid ; else alreadyIn">
  <h3 class="title3">Want to share your recommendation?
    <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
  </h3>
  
  </div>
  
  <ng-template #alreadyIn>
    <h3 class="title3" style="font-size: 50px; padding-top: 30px;  font-family:fantasy; color: cornflowerblue;">Welcome Back {{email}} !</h3>
  </ng-template> 



<div class="accordion" >
  <div>
    <h2 class="title3" style="font-size: 40px;">Our Recent Movie Ratings</h2>
    </div>
<mat-accordion >
    <mat-expansion-panel class="expansion"  *ngFor = "let movie of results">
      <mat-expansion-panel-header>
          <mat-panel-title class="movietitle" style="max-width: 80%;"> 
             {{movie.title}}

          </mat-panel-title> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a *ngIf="movie.vote_average>=7 ; else other" style="font-size: 20px;font-weight: bold; color: green; ">{{movie.vote_average}}</a>
          <ng-template #other>
            <a style="font-size: 20px;font-weight: bold; color: coral; ">{{movie.vote_average}}</a>
          </ng-template>
      </mat-expansion-panel-header>

      <div style="height: 1px;"> 
        <img class=img src="http://image.tmdb.org/t/p/w300/{{ movie.poster_path }}">
            <div class="overview">
            <a style="font-size: 30px; padding-bottom: 5px;">Overview</a><br><br>
            <a>{{movie.overview}}</a>
          </div>
          <div class="count">
            <a style="font-size: 30px; padding-bottom: 5px;">Votes Counted</a><br><br>
            <a>{{movie.vote_count}}</a>
          </div>
      </div>
      <div>
        
        <!--
        <div class="count">
          <a style="font-size: 30px; padding-bottom: 5px;">No. of votes</a><br><br>
          <a>{{movie.vote_count}}</a>
        </div>
-->
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <br><br><br><br><br><br><br><br><br>
</div>