<mat-card>
    <h1>Movies Category Classifier</h1>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field style="width: 600px;">
            <textarea
                matInput placeholder="You will type movie description - We will classify the movie category for you."
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"                           
            >
            </textarea>     
        </mat-form-field>                  
        <div >
            <button mat-raised-button color="primary"> Search </button>
        </div>
      </div>
    </form>
    </mat-card>
 
