<mat-card>
    <h1>New Recommendation</h1>
    <h4>This is the place to share your movies recommendations!</h4>
    <form #recForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Movie Name"
                [(ngModel)] = "name"
                name = "name">
        </mat-form-field> 
        <br><br><br>
        <mat-form-field>
                    <mat-label>Movie Genre</mat-label>
                    <mat-select [(ngModel)]= "genreInput" name="genreInput">
                    <mat-option *ngFor="let genre of genres" [value]="genre.value">
                        {{genre.value}}
                    </mat-option>
                    </mat-select>
        </mat-form-field> 
        <br><br><br>
        <mat-form-field style="width: 600px;">
            <textarea
                matInput placeholder="What is your recommendation?"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"                           
            >
            </textarea>     
        </mat-form-field> 
        <br><br><br>
        <mat-form-field style="width: 600px;">
            <input 
                matInput placeholder="Provide Link To The Movie Page In IMDB"
                [(ngModel)] = "link"
                name = "link">
         </mat-form-field>   
         <br><br><br>               
        <div>
            <button mat-raised-button color="primary" [disabled]="!recForm.form.valid">{{buttonText}}</button> &nbsp;
            <button mat-raised-button [routerLink]="'/recommendations'">Cancel</button>
            <p>Note: Adding a recommendation will direct you to My Recommendations page</p>
        </div>
      </div>
    </form>
    </mat-card>